{% extends 'base.html' %}

{% block content %}
<!-- this is where the search results will come -->
<!-- need to return results as cards  -->
<h2>Hey! This is the opening page</h2>
<!-- double for loop for each word then for the results of each word -->
{% for word in words_search %}
    <ul>
        {% for results in all_results %}
            <li>{}</li>
            <li><a href="The URL">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}

<!-- hero -->
<!-- add to forloop(s) -->
<div class="row icon-boxes">
    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
        <p class="url">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
    </div>
</div>

{% endblock %}